* {
    box-sizing: border-box;
    margin: 0;
}

.brain-image {
    width: 15vw;
    position: absolute;
    z-index: 2;
    top: 86%;
    left: 27%;
    transform: rotate(60deg)
}

.home-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.left-content h1 {
    font-size: 36px;
    width: 26vw;
    color: #fff;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13vw;
    float: left;
    width: 50%;
    height: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100%;
    background-color: #fea858;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image-rect {
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 5.2vh;
    background-color: #ffffff;
    border-radius: 7px;
    transition: transform 0.3s ease, border 0.3s ease-in-out;
    border: 2px solid transparent; 
}

.image-rect img {
    width: 90%;
    width: 85%;
}

.image-rect:hover {
    transform: scale(1.1);
    border: 2px solid black; 
}

.python {
    padding-left: 3px;
}

.right-side {
    float: right;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    color: black;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 13vw;
    font-size: 16px;
    float: right;
    width: 50%;
    height: 100%;
}

.right-content h2 {
    font-size: 36px;
    margin-bottom: 1vh;
}

.mem-assist-words {
    color: #fea858;
    font-weight: 800;
}