.technologies-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10vh 0;
}

.technologies-images {
    display: grid;
    width: 45vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.technologies-images > div {
    position: relative;
    width: 18vw;
    background-color: #D8D9DA;
    border-radius: 1vw;
    transition: all 0.3s ease;
    /* Adding a transition for smooth animation */
    border: solid 6px transparent; /* Add transparent border to prevent layout shifts */
}

.technologies-images > div:hover {
    transform: scale(1.05);
    /* Increase size on hover */
    z-index: 1;
    /* Bring the hovered box to the foreground */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    /* Add a shadow on hover */
    border: solid 6px black;
}

.technologies-images > div > img {
    width: 100%;
}

/* Positioning for the X shape layout */
.python-box {
    grid-column: 2;
    grid-row: 2;
    margin: 0 -5vw;
}

.express-box {
    grid-column: 1;
    grid-row: 1;
}

.render-box {
    grid-column: 3;
    grid-row: 1;
}

.vercel-box {
    grid-column: 1;
    grid-row: 3;
}

.react-box {
    grid-column: 3;
    grid-row: 3;
}

/* ... Rest of your CSS ... */


.technologies-text {
    font-size: 4.9vw;
    justify-content: center;
    margin-right: 4vw;
}