.triangle::before,
.triangle::after {
    content: '';
    position: absolute;
    border-color: transparent;
    border-style: solid;
    top: 0;
}

.top-right::before {
    border-right-color: #ccc;
    border-top-color: #ccc;
}

.top-right::before {
    border-radius: 0.4em;
    border-width: 4vw;
    border-right-color: #FFF6E0; 
    border-top-color: #FFF6E0;
    right: 0;
}


.top-left::after {
    border-left-color: #ccc;
    border-top-color: #ccc;
}

.top-left::after {
    border-radius: 0.4em;
    border-width: 4vw;
    border-left-color: #FFF6E0; 
    border-top-color: #FFF6E0;
}