.try-it-container {
    display: flex;
    margin-top: 1vh;
    height: 3.5vh;
}

.try-it-button {
    background-color: black;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.try-it-button:hover {
    background-color: white; /* Change to the desired color on hover */
    color: black; /* Change to the desired text color on hover */
    cursor: pointer;
}