@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.example-blurbs {
    display: flex;
    font-size: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    width: 70vw;
}

.example-question {
    margin: 4vh 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2vw;
    border-radius: 10px;
    background-color: rgb(254, 168, 88, 0.56);
    height: 5vh;
}

.example-response {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.example-answer-text {
    width: 45%;
    display: flex;
    align-items: center;
    padding: 2vw;
    border-radius: 10px;
    background-color: rgb(228, 228, 228, 0.56);
}

.image-section {
    width: 45%;
}

.example-response img {
    width: 100%;
    height: 90%;
    border: 4px solid #000; /* Add a 2px solid black border around the image */
}


.arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Default arrow styles */
.arrow {
    width: 60px;
    height: 30px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s; 
}

.left-arrow {
    margin-right: 20px; 
}

.right-arrow {
    margin-left: 20px; 
}

.arrow:hover {
    color: #fea858; 
}


.user-input-form {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: black;
}

.title {
    font-size: 4vh;
    margin: 10vh 0 5vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.prompt {
    height: 10vh;
    margin-bottom: 4vh;
    width: 70vw;
    padding: 2vw;
    border-radius: 10px;
    background-color: rgb(228, 228, 228, 0.56);
}

.submit-button {
    height: 5vh;
    width: 10vw;
    margin: 4vh 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2vh;
    cursor: pointer;
    margin: 0 10vw;
}

.hidden {
    display: none;
}

.input-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 10vh;
}

