/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title-banner {
  display: flex;
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 4vh;
  height: 10vh;
  width: 100%;
  background-color: #fea858;
}

.try-it-screen {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
